---
import { getRecipes, urlForImage, getAuthors, getTags } from "@lib/api";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { PostProps } from "../../../Type";
import { marked } from "marked";
import Prose from "@components/Prose.astro";

export async function getStaticPaths() {
  const allRecipePosts = (await getRecipes()).items;
  // console.log(allRecipePosts);

  const authors = await getAuthors();

  const tags = await getTags();

  return allRecipePosts.map((post: any) => {
    // console.log(post);
    const slug = post.flatData.slug;

    const origin = {
      params: {
        slug,
      },
      props: {
        post,
      },
    };

    const authorId = post.flatData.author?.[0]?.id;
    if (!authorId) {
      console.warn("Author ID is missing in item:", post);
      return origin;
    }

    const author = authors.items?.find(
      (x: { id: string }) => x.id === authorId
    );
    if (!author) {
      console.warn("Author not found for ID:", authorId);
      return origin;
    }
    // console.log(author);

    // if (author.flatData) {
    //   post.flatData.author[0].name = author.flatData.name;
    //   post.flatData.author[0].image = [];
    //   post.flatData.author[0].image[0] = author.flatData.image?.[0];
    // } else {
    //   console.warn("Author flatData is missing for ID:", authorId);
    // }

    var recipeTags: string[] = [];
    // console.log(post.flatData.tag?.[0]);
    if (post.flatData.tag?.[0]) {
      const tagIds = post.flatData.tag?.[0].children?.map(
        (child: any) => child.id
      );
      // console.log(tagIds);

      recipeTags = tagIds.map((id: string) => {
        const tag = tags.items.find((item: any) => item.id === id);
        return tag ? tag.flatData.name : null;
      });
    }

    // const tagNames = recipeTags === undefined;
    // console.log(recipeTags);

    // console.log(post.flatData.body);
    const content = marked.parse(post.flatData.body);

    // console.log(post.flatData.nutrition);

    const updatedPost = {
      ...post,
      flatData: {
        ...post.flatData,
        author: [
          {
            ...post.flatData.author[0],
            name: author.flatData.name,
            image: [author.flatData.image?.[0] || {}],
            bio: [author.flatData.bio?.[0] || {}],
          },
        ],
        tags: recipeTags,
        body: content,
      },
    };
    // console.log(updatedPost);

    return {
      params: {
        slug: slug,
      },
      props: {
        post: updatedPost,
      },
    };
  });
}

const { post } = Astro.props as
  | { post: PostProps }
  | { post: PostProps; preview: boolean };
---

<Layout title={post.flatData.title}>
  <div class="pt-4 xl:pl-10 mx-3">
    <!-- back button -->
    <a
      href="/"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-flex items-center transition duration-200 ease-in-out focus:outline-none"
    >
      <Icon name="Back" class="w-4 h-4 mr-2" />

      Back
    </a>

    <div
      class="max-w-4xl mx-auto p-7 my-10 bg-gradient-to-b from-red-50 to-red-100 shadow-2xl rounded-2xl"
    >
      <div class="container mx-auto px-4 py-8">
        <div class="max-w-3xl mx-auto">
          <!-- Title -->
          <h1 class="md:text-4xl text-2xl font-bold mb-4 text-gray-800">
            {post.flatData.title}
          </h1>

          <!-- Author -->
          {
            post.flatData.author && (
              <div class="flex items-center mb-4">
                <div class="mr-4">
                  <Image
                    width={50}
                    height={50}
                    src={urlForImage(post.flatData.author[0].image?.[0].id)}
                    alt={post.flatData.author[0].name}
                    class="rounded-full"
                  />
                </div>
                <div>
                  <p class="text-red-600 font-semibold">Written by</p>
                  <p class="text-gray-700 font-semibold">
                    {post.flatData.author[0].name}
                  </p>
                  {post.flatData.author[0].bio && (
                    <p class="text-gray-600 mt-1">
                      {post.flatData.author[0].bio[0].text}
                    </p>
                  )}
                </div>
              </div>
            )
          }

          <!-- Published Date -->
          <p class="mb-4 italic text-xl font-semibold">
            Published on {
              new Date(post.flatData.publishedAt).toLocaleDateString()
            }
          </p>

          <!-- Main Image -->
          {
            post.flatData.mainImage && (
              <div class="mb-4">
                <Image
                  width={850}
                  height={350}
                  src={urlForImage(post.flatData.mainImage[0]?.id)}
                  alt={post.flatData.title}
                  class="rounded-lg"
                />
              </div>
            )
          }

          <!-- Bio -->
          <!-- this doesn't seem to be used -->
          {
            post.flatData.bio && (
              <h2 class="text-lg text-gray-800 mb-4">
                {post.flatData.bio.text}
              </h2>
            )
          }

          <!-- Tags -->
          {
            post.flatData.tags && (
              <div class="mb-4">
                <h2 class="text-2xl font-bold mb-2 text-gray-800">Tags</h2>
                <div class="flex flex-wrap">
                  {post.flatData.tags.map((tag) => (
                    <span class="bg-gray-200 text-gray-800 rounded-full px-4 py-2 text-sm font-semibold mr-2 mb-2">
                      {tag}
                    </span>
                  ))}
                </div>
              </div>
            )
          }
        </div>
      </div>

      {/* Body */}
      <div class="mb-4">
        <Prose>
          <article set:html={post.flatData.body} />
        </Prose>
      </div>

      {/* Nutrition */}
      {
        post.flatData.nutrition && (
          <div class="mb-4">
            <h2 class="ml-4 text-2xl font-bold my-6  text-red-500">
              Nutrition Information
            </h2>
            <div class="grid justify-items-center grid-cols-2 md:grid-cols-4 gap-4">
              <div class="flex items-center">
                <div class="w-14 h-14 rounded-full bg-red-500 flex items-center justify-center">
                  <p class="text-2xl font-bold text-white">
                    {post.flatData.nutrition?.[0].calories}
                  </p>
                </div>
                <div class="ml-4">
                  <p class="text-lg font-semibold mb-1 text-gray-900">
                    Calories
                  </p>
                  <p class="text-gray-600">per serving</p>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-14 h-14 rounded-full bg-green-500 flex items-center justify-center">
                  <p class="text-2xl font-bold text-white">
                    {post.flatData.nutrition?.[0].carbohydrates}
                  </p>
                </div>
                <div class="ml-1">
                  <p class="text-lg font-semibold mb-1 text-gray-900">
                    Carbohydrates
                  </p>
                  <p class="text-gray-600">per serving</p>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-14 h-14 rounded-full bg-purple-500 flex items-center justify-center">
                  <p class="text-2xl font-bold text-white">
                    {post.flatData.nutrition?.[0].fat}
                  </p>
                </div>
                <div class="ml-4">
                  <p class="text-lg font-semibold mb-1 text-gray-900">Fat</p>
                  <p class="text-gray-600">per serving</p>
                </div>
              </div>
              <div class="flex items-center">
                <div class="w-14 h-14 rounded-full bg-blue-500 flex items-center justify-center">
                  <p class="text-2xl font-bold text-white">
                    {post.flatData.nutrition?.[0].protein}
                  </p>
                </div>
                <div class="ml-4">
                  <p class="text-lg font-semibold mb-1 text-gray-900">
                    Protein
                  </p>
                  <p class="text-gray-600">per serving</p>
                </div>
              </div>
            </div>
          </div>
        )
      }

      <!-- Comments Section -->
      <div class="max-w-3xl mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4 text-gray-800">Comments</h2>

        <!-- Comment Form -->
        <form class="mb-4">
          <div class="flex flex-col">
            <label for="name" class="text-gray-700">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Your name"
              class="mt-1 py-2 px-4 border border-red-300 rounded"
            />
          </div>
          <div class="flex flex-col mt-4">
            <label for="comment" class="text-gray-700">Comment</label>
            <textarea
              id="comment"
              name="comment"
              rows="4"
              placeholder="Leave a comment"
              class="mt-1 py-2 px-4 border border-red-300 rounded"></textarea>
          </div>
          <button
            type="submit"
            class="mt-4 px-6 py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-600"
            >Submit</button
          >
        </form>
      </div>
    </div>
  </div>
</Layout>
